/*
Theme Name: Modern Radio
Theme URI: https://store.aaronzufall.com/modern-radio
Author: Aaron Zufall
Author URI: https://aaronzufall.com
Description: A design for radio stations in the modern age - same-window audio playback, a mobile-first UI, and more.
Version: 0.5
*/
a {
  transition: color 0.07s linear, background-color 0.07s linear, background 0.07s linear, text-shadow 0.07s linear;
}
.navbar-full {
  margin-bottom: 0;
}
.navbar-full .navbar-brand {
  margin-right: 0;
}
.navbar-full .navbar-brand img {
  display: inline-block;
  height: 1.5em;
  width: auto;
  vertical-align: top;
  float: left;
}
.navbar-full .navbar-toggler {
  float: left;
}
.navbar-full .navbar-toggler,
.navbar-full .btn-link {
  color: rgba(255,255,255,0.5);
}
.navbar-full .navbar-toggler:hover,
.navbar-full .btn-link:hover {
  color: rgba(255,255,255,0.75);
}
.navbar-full .navbar-toggler:focus,
.navbar-full .btn-link:focus {
  outline: none;
}
.navbar-full .form-inline {
  margin: 0.25rem 0;
}
.dropdown-menu .menu-item {
  float: none;
  display: block;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .navbar-nav .nav-item:last-child {
    margin-right: 1rem;
  }
}
#last-played-container {
  margin-bottom: 1rem;
}
#last-played {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  font-size: 0;
}
#last-played song {
  display: inline-block;
  width: 20rem;
  font-size: 1rem;
}
song-history {
  z-index: 2;
}
song {
  display: block;
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
}
song .card {
  z-index: 2;
  border: none;
  margin-bottom: 0;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  height: 122px;
}
song .card .album-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  z-index: -1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
song .card .card-block {
  z-index: 1;
}
song .card .media {
  margin-bottom: 0;
  display: flex;
}
song .card .media .song-artist,
song .card .media .song-album,
song .card .media .song-title {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
song .card .media .song-artist,
song .card .media .song-album {
  font-size: 0.8rem;
}
song .card .media .song-title {
  font-weight: 700;
}
song .card .media .song-time-ago {
  font-size: 0.7em;
  font-style: italic;
  text-shadow: none;
  margin-top: 0.25rem;
}
song .card .media .media-left {
  height: 5rem;
  flex: 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  padding: 0;
  position: relative;
  color: transparent;
}
song .card .media .media-left .play-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
song .card .album-art {
  max-width: 5rem;
  max-height: 5rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
song:hover .media-left,
song .media-left.playing {
  color: #fff !important;
  text-shadow: 0 0 5px #000;
}
.history-link {
  display: block;
  text-decoration: none !important;
  font-size: 0.8rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-style: italic;
  vertical-align: top;
}
#app {
  position: relative;
}
#loading-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}
.admin-bar #loading-bar-container {
  top: 32px;
}
#loading-bar .bar {
  background-color: #ffdc1c;
  position: relative;
}
#loading-bar {
  -webkit-transition: 0.15s linear all;
  -moz-transition: 0.15s linear all;
  -o-transition: 0.15s linear all;
  transition: 0.15s linear all;
}
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active {
  opacity: 0;
}
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave {
  opacity: 1;
}
.content {
  z-index: 1;
}
.card-img-top {
  width: 100%;
}
.card-block {
  word-break: break-word;
}
.special-header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: none;
}
a.special-header {
  text-decoration: none !important;
}
.special-header .fa {
  margin-right: 0.25em;
}
.post-meta {
  margin-bottom: 1rem;
  font-size: 80%;
}
.post-meta div {
  margin-right: 0.75rem;
  display: inline-block;
}
.post-meta div:last-of-type {
  margin-left: 0;
}
singular .card-block img,
.sidebar img,
singular .card-block iframe,
.sidebar iframe,
singular .card-block object,
.sidebar object {
  max-width: 100%;
}
singular .card-block img,
.sidebar img {
  height: auto;
}
.end-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .sidebar {
    float: right;
  }
}
@media (max-width: 768px) {
  .navbar-full {
    text-align: center;
  }
  .navbar-full .navbar-brand {
    float: none;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .navbar-full .form-inline .form-control {
    display: inline-block;
    width: 50%;
  }
  .navbar-toggler {
    padding-left: 0;
    padding-right: 0;
  }
  #player-controller {
    float: right;
  }
  .dropdown-menu {
    width: 100%;
  }
  #social-icons .nav-item {
    display: inline-block;
  }
  #social-icons .nav-item+.nav-item {
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  main.container {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }
  .content {
    border: none;
  }
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
