body {
	background-color:powderblue;
	background-image: url("pictures/board.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: white:
	text-align: center;
}

.banner {
	font-family: 'Eras Bold ITC', Cambria, Arial;
	color: red;
	margin: 0 ;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-top:0;
	font-weight: bold;
	
/*	width: 55%;*/

}

.strokeme
{
    text-shadow:
    -1px -1px 0 #FFF,
 /*   1px -1px 0 #FFF,
    -1px 1px 0 #FFF, */
    1px 1px 0 #000;  

}

.shadow {
     text-shadow: 2px 2px 0px #000;
	 color:white;
}

ul {
	position: absolute;
	overflow: hidden;
	top:0;
//	width:100%;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
	overflow: visible;
/*    background-color: #444;  gives the nav bar a background color*/
}

li {
	float: left;
}

li a, .dropbtn {
	font-family:'Cambria';
	font-size: ;
	font-weight: bold;
    display: inline-block;
    color: #FFCCC2;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	text-shadow:
    -1px -1px 0 #000,
	1px -1px 0 #000,
    -1px 1px 0 #000,
	1px 1px 0 #000; 
}

li a:hover, .dropdown:hover {
	color: white;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding-left: 20%;
    text-decoration: none;
	text-shadow: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
	color: white;
}