body {
	background-color:black;
	background-image: url("Images/monk3.jpg");
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: fixed;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
}


.randompic {
    height: 150px;
    width: 300px;
}


img.gifs {
    height:150px;
/*    position: relative;
    max-height: 100%;*/
    width: auto;
    min-width: 205px;
    max-width: 100vw;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
}
 
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backgroundimg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

h1 {
	color: white:
	text-align: center;
}

.banner {
	font-family: 'Eras Bold ITC', Cambria, Arial;
	color: red;
	margin: 0 ;
	text-align: center;
	padding-left: 10px;
	margin-top:0;
	font-size: 22px;
	font-weight: 200;
	text-decoration: underline;
	/*width: 55%;*/

}

#footer {
 font-family: Arial;
 font-size: 100px;
 text-shadow:
  -2px -2px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000, 
  2px 2px 0 #000; 
   
}

.strokeme {
    text-shadow:
    -1px -1px 0 #FFF,
 /*   1px -1px 0 #FFF,
    -1px 1px 0 #FFF, */
    1px 1px 0 #000;  

}

.strokeme2, .dropdown-content {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.shadow {
     text-shadow: 2px 2px 0px #000;
	 color:white;
}

ul {
    top:0;
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*    background-color: #444;  gives the nav bar a background color*/
}

li {
	float: left;
}

/*attempt to make center nav bar*/
ul.center {
	text-align: center;
}

li.center {
	display: /*inline-*/block;
}

/*ul.nav*/ li a {
	font-family:'Cambria';
	font-size: 22px;
	font-weight: bold;
    	display: /*inline-*/block;
    	color: white;
	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
}

/*ul.nav*/ li a:hover, .dropdown:hover .dropbtn {
    	background-color: red;
	color: white;
}

ul.nav li.dropdown {
    display: /*inline-*/block;
}

.dropdown-content {
    display: none;
    position: absolute;
/*    background-color: #f9f9f9; /*Gives the dropdown a background color*/
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*highlight nav for current page:*/
.active {
	background-color: #4CAF50;
	color: white;
}

ul.nav li.right {
 float:right;
 position: relative;
 z-index: -1;
}

/*makes topnav verticle when smaller than 600px*/
@media screen and (max-width:600px) {
 ul.nav li.right, ul.nav li {
 	background-color: #555; /*Gives the dropdown a background color*/
 	float:none; 	
 }
 .dropdown-content {
 	background-color: #f9f9f9; /*Gives the dropdown a background color*/
 }
}


.scroll-left {
 overflow: hidden;
 position: relative;
 width: 40vw;
}

.scroll-left span {
/* position: absolute;*/

 float: left;
// width: 6150px;
// height: 100%;
// margin: 0;
// line-height: 100px;
// text-align: center;
// font-size: 100px;
 white-space: nowrap;
 /* Starting position (doesn't really work)
 -moz-transform:translateX(10%);
 -webkit-transform:translateX(10%);	
 transform:translateX(10%);
 */
 
 /* Apply animation to this element */	
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}

.foot div{
 background-image:url("Images/bottom banner.jpg");
 background-size: 100%;
//    width: 100px;
//    height: 100px;
    -webkit-animation-name: colorshift; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    animation-name: colorshift;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}


@keyframes colorshift {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

/* Move it (define the animation) */
/*mozilla*/
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(40vw); }
 100% { -moz-transform: translateX(-100%); }
}
/*safari*/
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(40vw); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(40vw); /* Browser bug fix */
 -webkit-transform: translateX(40vw%); /* Browser bug fix */
 transform: translateX(40vw);
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

#reset {
  all: initial;
  * {
    all: unset;
  }
}

.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}



//https://codepen.io/logalleon/pen/MwBZyp?page=6
@function getRGB() {
  $r: random(256) - 1;
  $g: random(256) - 1;
  $b: random(256) - 1;
  @return rgb($r,$g,$b);
}

#wrapper {
  padding-top: 20%;
  background: linear-gradient(-25deg, getRGB(), getRGB());
  height: 100%;
  width: 100%;
}

$colors: (getRGB(),getRGB(),getRGB(),getRGB(),getRGB());

$len: str-length("MonkeyMagicians");
$wordDuration: .7s;
$letterDuration: 3s;
$increment: $letterDuration / $len;

#word {
  display: inline-block;
  font-size: 80px;
  width: 100%;
  text-align: center;
  transform: skewY(-5deg);
//  animation: $wordDuration wordAnim 1;
//  animation-delay: $wordDuration;
//  animation-fill-mode: forwards;
  span {
    color: rgba(0,0,0,0);
    display: inline-block;
    position: relative;
    font-family: "Monoton";
    animation: $letterDuration letterAnim infinite;
    @for $i from 0 to $len {
      &.l#{$i} {
        animation-delay: $i * $increment;
      }
    }
  }
}

@keyframes wordAnim {
/*    0% {
      transform: rotateY(55deg) skewY(5deg);
    }
    50% {
      transform: rotateY(45deg) skewY(20deg);
    }*/
    100% {
      transform: skewY(-5deg);
    }
}

@keyframes letterAnim {
  0% {
    color: nth($colors, 1);
  }
  25% {
    color: nth($colors, 2);
  }
  50% {
    color: nth($colors, 3);
  }
  75% {
    color: nth($colors, 4);
  }
  100% {
    color: nth($colors, 5);
  }
}

//useful:
/*
https://codepen.io/jamesbarnett/pen/kfmKa
https://codepen.io/CrossProduct/pen/JGPZyX?page=1&
*/